.conenido {

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7175245098039216) 0%, rgba(1,23,56,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;


}


body{

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.7175245098039216) 0%, rgba(1,23,56,1) 100%);

}


    
      
     
       body {
    
    
        background: linear-gradient(
            rgba(0, 0, 0, 0.849),
            rgba(1, 62, 37, 0.771)
            ),url('../IMAGE/F2.jpeg') center/cover no-repeat;
              width: 100%;
              display: flex;
             align-items: center;
             justify-content: center;
             background-attachment: fixed;
          
            
           
        }
  

        #qr-reader button{
            
    margin-top:20px;
    margin-bottom: 20px;
    background-color: rgb(12, 61, 110);
    font-family: sans-serif;
    color: white;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    text-transform:uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
}
#resulColbr h6{
 text-align: left;
}

.texto_interfase h5{

    color: beige;
    font-weight: 700;
    padding: 2px;
   


}
#form h5{
    text-align: center;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
   }
   #form input{
    text-align: left;
    font-weight: 400;
   }
   #form label{
    text-align: left;
    font-weight: 400;
   }

 @media screen and (max-width: 991px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    tfoot td {
        display: block;
        text-align:center;
    }
    tfoot td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
}
 
.nav_dis a{

cursor: pointer;
font-family: arial; 

font-weight: 600;
    
}

@media screen and (max-width: 991px) {

.nav_dis a{

    
    font-size: 13px;
    font-weight: 900;

}

.card .table {
     margin: 0%;
    width: 300px;
   
}


.offcanvas-body a{

    align-items:center;
    font-size: 15px;
    text-align: left;
    cursor: pointer;

}


}

h3  {
 
    color: beige;
    font-size: 18px;
    font-weight: 700;
}

.card .btn{
    font-size: 12px;
    font-weight: 600;
 
}

.card img{
align-items: center;
width: 180px;
height: 180px;

}

.card {

    align-items: center;
    background-color: rgba(255, 255, 255, 0.047);
    cursor: pointer;
}

.card img:hover{

    -webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);

}


.card:hover{

 background-color: rgba(255, 255, 255, 0.93);


}


.contenido-op .card{


    align-items: center;
    background-color: rgba(255, 255, 255, 0.047);
    cursor: pointer;

}


.contenido-home .card{


    align-items: center;
    background-color: rgba(255, 255, 255, 0.047);
    cursor: pointer;

}
.contenido-home .op:hover{

    background-color: rgba(5, 2, 22, 0.345);
    border-radius: 20px;
    padding: 20px 20px;
    cursor: pointer;
    

}


 
.texto_tab td{

    font-size: 12px;
    vertical-align: middle;
}

.table button{

    font-size: 12px;

}

.table i{
 font-size: 10px;

}


.prefactura {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: auto;
  }

  .prefactura h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 8px;
  }

  .label {
    font-weight: bold;
    color: #555;
  }

  .value {
    color: #000;
  }

  .offcanvas-body a{

     text-align: left;

  }

  .offcanvas-body a:hover{

    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 0.2s ease;
}
