
    
      
     
       body {
    
    
        background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(3, 1, 62, 0.5)
            ),url('../IMAGE/FN2.jpeg') center/cover no-repeat;
              width: 100%;
              display: flex;
             align-items: center;
             justify-content: center;
             background-attachment: fixed;
          
            
           
        }
  